@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Mabry Pro', system-ui, sans-serif;
        background-color: #f8f8f8;
    }

    select:focus,
    input:focus {
        outline: none;
    }

    input:disabled {
        background: transparent;
    }
}

@layer utilities {
    .clip-video-y {
        clip-path: inset(10% 0%);
    }

    .scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #cccccc #fff;
    }

    .scrollbar::-webkit-scrollbar {
        width: 4px;
        background: #cccccc;
        opacity: 0.2;
    }

    .scrollbar::-webkit-scrollbar-track {
        background: #fff;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        border-radius: 200px;
        background: #cccccc;
    }
}

@supports (-webkit-touch-callout: none) {
    .h-screen {
        height: -webkit-fill-available;
    }
}
